@use "./colors" as *;
@use "./font" as *;

.about {
  text-align: center;

  .banner {
    background-color: $tertiaryClr;
    padding-block: 1em;
    padding-inline: min(10%, 12.5rem);
    display: flex;
    justify-content: space-between;

    p {
      color: $primaryClr;
      font-size: clamp(1rem, 0.6299rem + 1.5584vw, 1.875rem);
    }
  }

  .article-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 7rem;
    margin-block: min(10%, 7rem);

    article {
      display: flex;
      gap: 6.25rem;
      text-align: start;
      width: 100%;
      max-width: 1200px;
      user-select: none;

      img {
        width: 100%;
        max-width: 500px;
      }

      span {
        background-color: $bgAccentClr;
        color: $primaryClr;
        padding: 0.3rem;
        border-radius: 5px;
        font-size: 0.625rem;
        letter-spacing: 3px;
      }

      h2 {
        font-size: clamp(1rem, 0.6299rem + 1.5584vw, 2.5rem);
        margin-top: 1rem;
        margin-bottom: 1.5rem;
      }

      p {
        font-size: clamp(1rem, 0.6299rem + 1.5584vw, 1.25rem);
        color: $fadeClr;
        max-width: 50ch;
        font-family: $interFont;
        font-weight: 500;
        margin-bottom: 1rem;
      }

      &:nth-child(2) {
        flex-direction: row-reverse;
      }

      ul {
        list-style: square;
        margin-left: 2rem;

        li {
          color: $fadeClr;
          font-family: $interFont;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
