@use "./font" as *;

.main-checkout {
  margin-block: 3rem;
  max-width: 100rem;
  margin-inline: auto;
  display: flex;
  gap: 30px;

  & > * {
    box-shadow: 0px 13px 30px rgba(7, 6, 41, 0.16);
    border-radius: 30px;

    h1 {
      font-size: 2.1875rem;
      font-family: $font900;
      margin-bottom: 1em;
    }
  }

  h3 {
    margin-bottom: 1rem;
    font-family: $font900;
    font-size: 0.8rem;
  }

  .checkout-section {
    width: 70%;
    padding: 3rem;
  }

  .order-summary-section {
    width: 30%;
    padding: 2rem;
    height: max-content;

    .discountCodeInput {
      width: 92%;
    }

    .checkoutButton {
      width: 100%;
    }

    .order-total-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .grandTotal {
        font-family: $font700;
        font-size: 1.8rem;
      }
    }

    .garment-selected-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1em;
    }

    .garment-img-wrapper {
      display: flex;
      align-items: center;
      gap: 30px;

      img {
        width: 60px;
      }

      h2 {
        font-size: 1.5rem;
        font-family: $font700;
      }
      p {
        color: #777777;
      }
    }
  }

  form {
    max-width: 60rem;
  }

  .section-flex {
    display: flex;
    gap: 30px;

    margin-bottom: 3rem;

    .section-flex-title {
      width: 150px;
      font-family: $font700;
    }
  }

  .input-container-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    & > * {
      width: 43%;
    }
  }

  .shipping-radio-flex {
    display: flex;
    align-items: center;
    border: 1px solid #777777;
    gap: 60px;
    padding: 1rem;
    border-radius: 10px;

    h2 {
      font-family: $font700;
    }

    p {
      font-size: 0.8rem;
    }

    span {
      color: #777777;
    }
  }

  .payment-radio-flex {
    display: flex;
    align-items: center;
    border: 1px solid #777777;
    border-radius: 10px;
    gap: 15px;
    padding: 1rem;

    span {
      font-family: $font700;
      font-size: 0.8rem;
    }
  }

  .margin-bottom-1rem {
    margin-bottom: 1.8rem;
  }
}
