$primaryClr: #ffffff;
$secondaryClr: #282524;
$tertiaryClr: #5f5f5f;
$accentClr: #274c77;
$hoverClr: #3c6a8a;
$buttonClr: #6096ba;
$fadeClr: #777777;

$pricingBg: #d4d4d4;

$completeBgClr: #d1ebe8;
$completeClr: #1b998b;
$pendingBgClr: #f9f2d4;
$pendingClr: #e1bc29;
