@use "./font" as *;
@use "./colors" as *;

.signup-bottom {
  display: grid;
  gap: 1.5rem;
  padding: 3rem;
  align-items: center;
  background-color: $accentClr;

  .bottom-text-container {
    color: $primaryClr;

    h1 {
      font-size: 2rem;
      margin-bottom: 1.5rem;
      font-family: $font900;
    }
    p {
      max-width: 60ch;
    }
  }
}

.contact {
  display: grid;
  justify-content: center;
  padding-block: 5rem;
  padding-inline: min(10%, 12.5rem);
  grid-gap: 1.5rem;
  color: $primaryClr;
  background-color: $accentClr;

  .logo {
    width: 50px;
  }

  article {
    h2 {
      font-size: 1.25rem;
      font-family: $font900;
      margin-bottom: 1.5rem;
    }

    ul {
      display: flex;
      gap: 1.5rem;

      a {
        text-decoration: none;
        color: $primaryClr;

        &:hover {
          color: $hoverClr;
        }
      }
    }
  }
}

footer {
  background-color: $accentClr;
  color: $primaryClr;
  padding-block: 1em;
  padding-inline: min(10%, 12.5rem);
}
