@use "./colors" as *;

@media (width > 900px) {
  .pricing-container {
    grid-template-columns: repeat(auto-fit, minmax(580px, 1fr));
  }

  .contact {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }

  .signup-bottom {
    margin-inline: auto;
    border-radius: 10px;
    grid-template-columns: 2fr 1fr;
    max-width: 76.25rem;

    .banner-signup-button {
      width: max-content;
    }
  }

  .ham {
    display: none;
  }
}

@media (width < 900px) {
  header {
    position: relative;
  }
  main > div {
    transform: translateY(20rem) !important;
  }

  .ham {
    display: block;
  }

  .nav-list {
    position: absolute;
    left: 0;
    flex-direction: column;
    transform: translateY(-100%);
    background-color: $accentClr;
    width: 100%;
    padding-block: 3rem;
    transition: 0.3s ease-in;
    z-index: -1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 1s ease;

    // .nav-list-item {
    //   transform: translateY(20px);
    // }
  }

  .star {
    width: 30px !important;

    &-one {
      top: -3rem !important;
      left: 0 !important;
    }
    &-two {
      bottom: -3rem !important;
      right: 0 !important;
    }
  }
}

@media (width < 47.875rem) {
  .article-container {
    margin-block: 0 !important;
  }
  .content-wrapper {
    padding-block: 5rem;
  }
  .about-card {
    flex-direction: column-reverse !important;
  }
} ;
