@use "./font" as *;

.payment-main {
  box-shadow: 0px 13px 30px rgba(7, 6, 41, 0.16);
  padding: 3rem;
  margin-block: 3rem;
  max-width: 96rem;
  margin-inline: auto;
  border-radius: 30px;

  .schedule-section {
    margin-bottom: 3rem;

    .schedule-input-container > input {
      padding: 0.5rem;
      width: 15em;
    }

    label {
      margin-right: 1rem;

      &[for="timeInput"] {
        margin-left: 3rem;
      }
    }
  }

  h1 {
    font-size: 2.1875rem;
    font-family: $font900;
    margin-bottom: 1em;
  }
  h2 {
    font-size: 1.25rem;
    font-family: $font700;
    margin-bottom: 1rem;
  }
}

.garment-count-wrapper {
  display: flex;
  gap: 1.875rem;
  flex-wrap: wrap;
}

.garment-count-container {
  display: flex;
  gap: 3rem;
  align-items: center;
  border: 1px solid #777777;
  padding: 1.5rem;
  border-radius: 20px;
}

input[type="radio"]:not(:nth-child(1)) {
  margin-left: 3rem;
}

.ads-on {
  padding-block: 1.875rem;
}
